uvicorn
fastapi[all]
numpy
langchain-community
langgraph
langchain-anthropic
tavily-python
langgraph-checkpoint-sqlite
langchain-core
langgraph>0.2.27
langchain[openai]
dotenv
pydantic
python-dotenv
openai
typing-extensions
pydub
edge_tts